@import "tailwindcss";

/* GLOBAL */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: white;

  background: linear-gradient(-45deg,
      #3e3e50,
      #141425,
      #20208b);

  background-size: 400% 400%;

  animation: gradientMove 10s ease infinite;

  overflow-x: hidden;
  min-height: 100vh;
}

/*  BACKGROUND ANIMATION */
@keyframes gradientMove {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*  EMOJI SYSTEM */
.emoji-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.emoji {
  position: absolute;
  bottom: -40px;
  font-size: 40px;

  animation: explodeUp ease-out forwards;

  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
}

/*  EMOJI ANIMATION */
@keyframes explodeUp {

  0% {
    transform:
      translateY(0) scale(0.5);

    opacity: 1;
  }

  30% {
    transform:
      translateY(-120px) translateX(-30px) scale(1.2);
  }

  60% {
    transform:
      translateY(-250px) translateX(30px) scale(1);
  }

  100% {
    transform:
      translateY(-450px) translateX(0px) scale(0.8);

    opacity: 0;
  }
}

/*  SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}